* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */ url('../images/bg-lg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.page-nav,
form,
.logo img {
  display: none;
}

.min-size {
  min-width: 50px;
}

header {
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  background-image: linear-gradient(127deg, #101f21 65%, #4b4b48);
  position: relative;
}

.logo p {
  color: white;
  font-size: 1.8rem;
  letter-spacing: 5px;
}

form {
  width: clamp(355px, 50vw, 400px);
  display: none;
  position: absolute;
  bottom: -65%;
  right: 5px;
}

fieldset {
  display: flex;
  gap: 5px;
  padding: 10px;
  background-color: aliceblue;
}

input {
  min-width: 65%;
}

input,
fieldset button {
  padding: 5px;
}

main {
  margin: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 20px;
}

h1 {
  padding-right: 62%;
  margin-bottom: 40px;
  font-size: 3rem;
}

main p {
  font-size: 1.3rem;
  margin-bottom: 80px;
}

main button {
  background-color: #01696b;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 12px 38px;
}

.socials-nav {
  background-color: #101f21;
  width: 45px;
  position: absolute;
  top: 30%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.socials-nav img {
  min-width: 100%;
  max-height: 30px;
}
