.dropdown {
  min-width: 50px;
}

.dropdown:hover,
.dropdown:active {
  filter: brightness(10%);
  cursor: pointer;
}

form {
  display: none;
  width: clamp(310px, 80vw, 400px);
  position: absolute;
  bottom: -65%;
  right: 8px;
}

fieldset {
  display: flex;
  gap: 5px;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 24px;
}

input {
  min-width: max(200px, 55%);
  padding: 5px;
}

fieldset button {
  padding: 5px;
  font-size: clamp(0.5rem, 3vw, 1rem);
  font-weight: 400;
}

main p {
  margin-bottom: 80px;
}

main button {
  padding: 12px 38px;
}

main button:hover {
  background-color: #01696b93;
  cursor: pointer;
}

.socials-nav {
  background-color: #101f21;
  width: 45px;
  position: absolute;
  top: 30%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.socials-nav img {
  min-width: 100%;
  max-height: 30px;
}

.search-results {
  display: none;
  max-height: 60%;
  overflow-y: auto;
  scrollbar-width: none;
  position: absolute;
  top: 132px;
  right: 0;
  z-index: 1;
  background-color: whitesmoke;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.search-results img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.location-details {
  padding: 12px;
}

.search-results p {
  padding: 8px 0;
  line-height: 130%;
}

.search-results button {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 8px 16px;
}

.search-results article {
  width: 100%;
  margin-top: 16px;
  background-color: white;
  border-radius: 10px;
}

.not-found {
  background-color: white;
  width: min(700px, 100vw);
  margin: 100px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    padding: 0 45% 0 5%;
  }

  main p {
    padding: 0 5%;
  }

  main button {
    margin: 0 5%;
  }
}

@media screen and (min-width: 992px) {
  .dropdown {
    display: none;
  }

  fieldset {
    padding: 10px 32px;
  }

  form {
    display: block;
    top: 16px;
    height: 100%;
  }

  .page-nav {
    background-color: rgba(0, 0, 0, 0.788);
  }

  main {
    padding: 72px 65% 20px 5%;
  }
}
